<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.pt-pt</string>
	<key>CFBundleName</key>
	<string>PT-PT</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_PT-PT</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISIconIsTemplate</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.pt-pt.pt-pt</string>
		<key>TISIntendedLanguage</key>
		<string>pt-PT</string>
	</dict>
</dict>
</plist>
